span {
  font-size: 16px;
}
.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 160%;
}
.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 130%;
}

.CodeMirror {
  background-color: #f0f0f0f0;
  border: none;
}
.OperationBtn {
  width: 50px;
  height: 30px;
}
.EditableTab {
  height: 28px;
  width: 100px;
  display: inline-block;
  border: solid 1px;
  text-align: center;
}
.ActiveTab {
  height: 28px;
  width: 100px;
  display: inline-block;
  border: solid 1px;
  text-align: center;
  background-color: #bbb;
}
